<ul class="collection with-header">

  <li class="collection-header">
    <h1>Todo List</h1>
  </li>

  <li class="collection-item">
    <todo-form items="c.items"></todo-form>
  </li>

  <li class="collection-item" ng-repeat="item in c.items" ng-class="{ 'done': item.isDone }">
    <div>
      {{ item.description }}
      <a href="#" class="secondary-content" ng-click="c.remove($index)"><i class="material-icons">delete</i></a>
      <a href="#" class="secondary-content" ng-click="c.done($index)" ng-if="!item.isDone"><i class="material-icons">done</i></a>
      <a href="#" class="secondary-content" ng-click="c.revert($index)" ng-if="item.isDone"><i class="material-icons">replay</i></a>
    </div>
  </li>

</ul>